.menu{
    list-style: none;
    display: none;
}
.menu.true{
    display:block;
}
li{
background-color: greenyellow;
border: 1px solid black;
margin:5px;
display: block;
}
@media(max-width:400px){
    li{
        background-color:grey;
    }
}
