.tab.active-tab{
  background-color: rgb(221, 203, 7);
}
.tab{
  background-color: red;
  display: flex;
  height: 50px;
  width: 100px;
  justify-content: center;
  align-items: center;
  
}
.container{
  display:flex;
  justify-content: center;
  flex-direction: row;
}
